<header id="main-header">
    <div id="logo">
        <a href="/">MyApp</a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/create-post">Create post</a>
            </li>
            <li id="post">
                <a href="/posts">Posts</a>
            </li>
        </ul>
    </nav>
</header>